PORT=3000
DB_HOST=gondola.proxy.rlwy.net
DB_USER=root
DB_PASSWORD=tu_password_aqui
DB_NAME=railway
DB_PORT=19147
JWT_SECRET=tu_secreto_jwt_super_seguro_change_in_production
JWT_EXPIRES_IN=7d
NODE_ENV=development
